html{
  display: inline;
}
body {
  background-color: #770000;
  margin: 0px;
  min-width: 1000px;
  min-height: 600px;
}
a {
    color: #FFF;
    text-decoration: underline;
    font-family: "Arial Black";
}
p{
  margin: 0px;
  font-family: "Arial";
}
header::after,article::after{
  clear: both;
}

footer {
  width: 100%;
  margin: 10px 0px 0px 0px;
  position: fixed;
  bottom: 0px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #fff;
  padding: 5px 0px;
  background-color: #aa0000;
}

.main {
  text-align : center;
}

.main img {
  width: 100%;
  vertical-align : middle;
  margin: 0px;
}
.top{
  padding: 0px;
  margin: 0px;
  background-color: #aa0000;
  height: 30px;
  text-align: center;
}
.menu {
  margin: 0px;
  padding: 0px;
}
.menu li{
  background-color: #aa0000;
  color: #eee000;
  display: inline-block;
  list-style: none;
}
.menu a{
  margin: 0px 15px;
  font-family: "Arial Black";
  font-size: 16px;
  color:#eeeeee;
  text-decoration: none;
}

.artart {

  margin: 10px 0px 40px 0px;
  align-items: center;

}

.artart div{
  background-color: #eeeeee;
  border-radius: 2%;
  margin:0 auto;
  width: 630px;
  align-self: center;
}

.artart p,h1{
  margin:0px 15px;
  padding: 10px 0px 10px 0px;
  width: 600px;
}
.artart h2{
  margin: 0px 15px;
  padding: 10px 0px 5px 0px;
  font-size: 14pt;
}
