html{
  display: inline;
}
body {
  background-color: #770000;
  margin: 0px;
  min-width: 1000px;
  min-height: 600px;
}
a {
    color: #FFF;
    text-decoration: underline;
    font-family: "Arial Black";
}
p{
  margin: 0px;
  font-family: "Arial";
}
header::after,article::after{
  clear: both;
}

footer {
  width: 100%;
  margin: 10px 0px 0px 0px;
  position: fixed;
  bottom: 0px;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  color: #fff;
  padding: 5px 0px;
  background-color: #aa0000;
}

.main {
  text-align : center;
}

.main img {
  width: 100%;
  vertical-align : middle;
  margin: 0px;
}
.top{
  padding: 0px;
  margin: 0px;
  background-color: #aa0000;
  height: 60px;
  text-align: center;
}
.menu {
  margin: 0px;
  padding: 0px;
}
.menu li{
  background-color: #aa0000;
  display: inline-block;
  list-style: none;
}
.menu a{
  margin: 0px 15px;
  font-family: "Arial Black";
  font-size: 20px;
  color:#eeeeee;
  text-decoration: none;
}
.menu img{
  height: 50px;
}

.artart {
  margin: 10px 0px 40px 0px;
  align-items: center;
}

.artart div{
  background-color: #eeeeee;
  border-radius: 3px;
  margin:0 auto;
  width: 630px;
  align-self: center;
}

.artart p,h1{
  margin:0px 15px;
  padding: 10px 0px 10px 0px;
  width: 600px;
}
.artart h2{
  margin: 0px 15px;
  padding: 10px 0px 5px 0px;
  font-size: 14pt;
}

.pic {
  margin: auto;
  padding: 10px;
  display: block;
  position: relative;
  align-items: center;
  text-align: center;
}

.pic img {
  margin: auto;
  display: inline-block;
  align-items: center;
}

.news{
  margin: 10px 0px 40px 0px;
  align-items: center;
  text-align: center;
}
.news div{
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  margin:0 auto;
  width: 630px;
  background-color: #edf2c5;
  align-self: center;
	font-family: ArialMT Regular, sans-serif;
	font-size: 12px;
}

.left{
  width: 50px;
  padding-left: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #9d0001;
  margin-top: 5px;
  margin-bottom: 5px;
}
.right{
    width: 600px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 5px;

}
.stores{
  text-align : center;
}
.maps{
  text-align : center;
}
